#receipt-scale-outer.allow-overflow {
    overflow-x: visible !important;
  }
  
  .receipt-scale-wrapper {
    width: 794px;
    min-width: 794px;
    display: flex;
    justify-content: center;
    transform-origin: top center;
  }
  
  @media screen and (max-width: 820px) {
    .receipt-scale-wrapper {
      transform: scale(min(1, calc(100vw / 794px)));
    }
  
    .receipt-scale-wrapper.force-scale-1 {
      transform: none !important;
    }
  }
  
  #receipt-container {
    width: 794px;
    min-width: 794px;
    max-width: 794px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }
  
  @media print {
    body * {
      visibility: hidden;
    }
    
    #receipt-container,
    #receipt-container * {
      visibility: visible;
    }
    
    #receipt-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 794px;
    }
  }
  
  